# Junk files
Thumbs.db
.*.swp
._*
.DS_Store

# Folders
build
vendor
node_modules
src/php
test/php
src/dotnet
test/dotnet

# Dot files
.git
.scrutinizer.yml
.travis.yml
.gitignore
.gitattributes
.npmignore

# Visual Studio
.vs
.vscode
*.sln
global.json

# Files
composer.*
phpunit.xml
Makefile
README.md
CHANGELOG.md
LICENSE
index.html
src/not-found-in-spamassassin-list.txt
