
<phpunit
    bootstrap="test/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Tests">
			<directory suffix="Test.php">./test/php/</directory>
		</testsuite>
	</testsuites>
    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="test/php/reports/clover.xml"/>
        <log type="coverage-html" target="test/php/reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="test/php/reports/executed.txt"/>
    </logging>
</phpunit>

